@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.App {
  display: flex;
  min-height: 100vh;
  background-color: #1f1c36;
  font-family: "Lexend", sans-serif;
}

.main {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 45vw 45vw;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .sidebar,
  .content {
    width: 100%;
  }
}

.graphHold {
  background-color: black;
  border-radius: 8px;
}