@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.lexend-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.info-section {
  display: grid;
  gap: 15px;
  /* Spacing between the boxes */
  /* Total width of the section */
  width: 100%;
  margin: 15px 0;
  /* Center the section */
  font-family: "Lexend", sans-serif;
  grid-template-columns: auto auto auto;
}

.info-item {
  background-color: #ffffff;
  color: #000000;
  /* Padding inside each box */

  border-radius: 8px;
  border-color: #E0E0E0;
  border-width: 2px;
  border-style: solid;

  /* Fixed width */
  /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px 30px;
  /* Text size */
}

.info-item .label {
  font-weight: bold;
  color: #000000;
  /* Label color */
}

.info-item .value {
  color: #000000;
  /* Value color */
  display: flex;
  gap: 5px;
}

.info-item .change {
  font-weight: bold;
  color: inherit;
}

.info-item .change.positive {
  color: #53eea9;
  /* Green for positive change */
}

.info-item .change.negative {
  color: #EA3A3A;
  /* Purple for negative change */
}