@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.stock-info {
  background-color: transparent;
  padding: 20px;
  border: #E0E0E0 solid 2px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  height: 88px;
  box-sizing: border-box;
  margin: 8px 0;
  /* Adjust margins to move closer to the right */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-info .title {
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  color: #000000;
  margin: 0 1px 0 0;
}

.stock-info .price {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.stock-info .price span {
  color: #777777;
}

.stock-info .price .positive {
  color: #53eea9;
}

.stock-info .price .negative {
  color: #8133ff;
}

.stock-info .buttons {
  display: flex;
  gap: 12.5px;
}

.stock-info .buttons button {
  width: 106px;
  height: 52px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

.stock-info .buttons .buy {
  background-color: #53eea9;
  color: #000000;
}

.stock-info .buttons .sell {
  background-color: #ea3a3a;
  color: #ffffff;
}