@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.stock-info {
  background-color: #2c294d;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 780px;
  /* Fixed width */
  height: 88px;
  /* Fixed height */
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  /* Center the info section with bottom margin */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-info .title {
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  color: #dedee8;
  margin: 0;
  /* Remove default margin */
}

.stock-info .price {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  color: #53eea9;
  margin: 0 20px;
  /* Add margin for spacing */
}

.stock-info .buttons {
  display: flex;
  gap: 10px;
}

.stock-info .buttons button {
  width: 106px;
  /* Fixed width */
  height: 52px;
  /* Fixed height */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

.stock-info .buttons .buy {
  background-color: #53eea9;
  color: #000000;
}

.stock-info .buttons .sell {
  background-color: #8133ff;
  color: #ffffff;
}